
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainTitle {
    color: rgb(216, 216, 216);
    align-self: center;

    border-bottom: 1px solid rgb(216, 216, 216);

    padding: 0.25em;
    margin: 0.25em;
    margin-bottom: 0.5em;

    width: fit-content;
}

.masonry_tasks {
    display: flex;
    /*width: calc(100% + 30px); */

    border: 1px solid red;

}

.masonry_tasks .disabled {
    display: none;
}

.masonry_tasks .list {

    display: flex;

    border: 5px solid red;
}

.task {
    display: flex;
    flex-direction: column;

    margin: 0.5em;
    padding: 0.5em;

    background-color: rgb(60, 60, 60);
    color: rgb(216, 216, 216);

    border-radius: 10px;

    width: 95%;

    word-wrap: break-word;

    transition: all 0.2s;
}

.task:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px rgb(216, 216, 216);
    cursor: pointer;
}

.text {
    overflow-wrap: break-word;
}

.addButton {
    position: absolute;

    right: 0;
    top: 0;

    margin: 0.5em;
    padding: 1em;

    background-color: rgb(60, 60, 60);
    color: rgb(216, 216, 216);
    
    border-radius: 20px;
    border: none;

    transition: all 0.2s;

}

.addButton:hover {
    transform: scale(1.1);
}